body {
  position: relative;
  left: 4%;
  top: 5%;
  background-image: url('./billiards.jpg');
}

#title {
  color: #fff;
  font-size: 40px;
}

.centered-section {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 25%;
  background-image: url('images.jpg');
}

.score-section {
  padding: 36px;
  width: 300px;
}

#score-display {
  background: #ffff;
  max-width: 95%;
  min-height: 82%;
}

#form-section {
  width: 46%;
  display: flex;
  align-items: center;
}

#score-form {
  background-color: #0c85308e;
  width: 70%;
  padding: 10px;

}

.section-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 17%;
  height: 10%;
  width: 100%;
}

#score-display {
 padding: 10px;
 border-radius: 15%;
 background-color: #fffefeed;

}

#form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

#recent-scores {
<<<<<<< HEAD
  color: #fff;
=======
  color: #ffffff;
>>>>>>> b8a25a0 (styling updates)
  font-weight: 700;
  font-size: 25px;
  background-color: #000000b3;
  padding: 8px;
}

.form-title {
<<<<<<< HEAD
  color: #fff;
=======
  color: #ffffff;
>>>>>>> b8a25a0 (styling updates)
}